<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Store</title>
</head>
<body>

<div id="root"><%- markup %></div>
<script>
    window.__initialData__ = '<%- JSON.stringify(initialData) %>';
</script>
<!-- Project Source Code -->
<script src="/bundle.js" charset="utf-8"></script>
</body>
</html>